<div class="testimonial-section wf-section">
    <div class="small-container w-container">
      <div class="w-layout-grid testimonial-grid">
        <div class="_10-pad-div-block"><img src="/images/“.svg" loading="lazy" width="65.5" alt="Quotation mark icon"></div>
        <div>
          <p class="heading-3">{{ quote.text }}</p>
        </div>
        <div>
          <p class="text-block-3">- {{ quote.partner.name }}</p>
        </div>
      </div>
    </div>
  </div>