<section class="section">
  <div class="container container--sm" data-sal="slide-up" data-sal-duration="600">
    <img class="l-quote__img" src="/images/“.svg" loading="lazy" width="65.5" alt="Quotation mark icon">
    <blockquote class="l-quote__blockquote">
      <p class="heading-3 font-light">{{ quote.text }}</p>
      <cite class="l-quote__source">- {{ quote.partner.name }}</cite>
    </blockquote>
  </div>
</section>