
{% if content.sectionTitle.title %}
    {% assign sectionTitle = content.sectionTitle.title %}
{% endif %}
{% if content.sectionTitle.text %}
    {% assign sectionText = content.sectionTitle.text %}
{% endif %}

    <div class="flow text-section-header section wf-section">
        <div class="large-container w-container">
            <h2 class="heading-2">{{ sectionTitle }}</h2>
            {% if sectionText %}
            <p class="text-center">{{ sectionText }}</p>
            {% endif %}
        </div>
    </div>