.home-page-hero-section {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--am-blue-dark);
  color: var(--white);
  padding-top: calc(80px + var(--space-xl-3xl));
  overflow: hidden;
}

.home-page-hero-section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 200px);
  background: radial-gradient(
    circle at 100% 0,
    var(--am-green-dark),
    var(--am-blue-dark),
    var(--am-blue-deep)
  );
  transition: transform 30ms;
}

.homepage-hero__button-wrapper {
  display: flex;
  margin-top: var(--space-l);
}

.home-page-hero-section__heading {
  max-width: min(80vw, 65%);
  margin-bottom: var(--space-m);
}

.home-page-hero-section__subheading {
  max-width: 45ch;
}

.homepage-hero__content {
  position: relative;
  z-index: 1;
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition:
    opacity 900ms,
    transform 900ms;
}

.hero__svg-container {
  position: absolute;
  top: 4rem;
  right: -2rem;
  width: min(70%, 80rem);
  z-index: 1;
  transform-style: preserve-3d;
  perspective: 100vw;
  perspective-origin: 50% 50%;
}

.hero-svg {
  transform-origin: center;
  animation: ry 6000ms infinite alternate;
}

@media (min-width: 992px) {
  .hero__svg-container {
    bottom: -30%;
    right: -20%;
    top: auto;
  }
}

@keyframes ry {
  to {
    transform: rotateY(20deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .home-page-hero-section::after {
    --y: calc(var(--scroll) * 0.6px);
    transform: translate3d(0, var(--y), 0);
  }

  .hero__svg-container {
    --y: calc(var(--scroll) * 0.1px);
    transform: translate3d(0, var(--y), 0);
  }

  .is-scrolling .homepage-hero__content {
    transform: translate3d(0, -70px, 0);
    opacity: 0;
  }
}
