.home-page-hero-section {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    45deg,
    var(--am-blue-deep),
    var(--am-blue-dark),
    var(--am-green-light)
  );
  background-color: var(--am-blue-dark);
  color: var(--white);
  padding-top: calc(80px + var(--space-xl-3xl));
  overflow: hidden;
  animation: bgMove 10000ms infinite alternate;
}

.homepage-hero__button-wrapper {
  display: flex;
  margin-top: var(--space-l);
}

.home-page-hero-section__heading {
  max-width: min(80vw, 65%);
  margin-bottom: var(--space-m);
}

.home-page-hero-section__subheading {
  max-width: 45ch;
}

.hero-svg {
  position: absolute;
  top: 4rem;
  right: -2rem;
  width: 70%;
  animation: ry 6000ms infinite alternate;
  transform-style: preserve-3d;
  perspective: 100px;
}

@media (min-width: 992px) {
  .hero-svg {
    bottom: -30%;
    right: -20%;
    top: auto;
  }
}

.homepage-hero__content {
  position: relative;
  z-index: 1;
}

@keyframes ry {
  to {
    transform: rotateY(20deg);
  }
}
