.homepage > section {
  padding-block: var(--space-144);

  @media (max-width: 1024px) {
    padding-block: var(--space-72);
  }
}

section {
  padding-block: var(--space-72);

  @media (max-width: 1024px) {
    padding-block: var(--space-48);
  }
}

section[data-narrow] {
  padding-block-start: var(--space-48);
}

section[data-bg-white] {
  background: var(--ws-white);
}

section#page-heading + section {
  padding-block-start: 0;
}

section#posts {
  border-top: 1px solid var(--ws-light-grey);
  background: var(--ws-white);
  scroll-margin-top: var(--space-48);

  & .flex-grid {
    --min: 20rem;
  }

  & time + h2 {
    margin-block-start: 0.5rem;
  }

  & h2 + p {
    margin-block: 1rem;
  }

  @media (max-width: 1024px) {
    h2 {
      font-size: 1.5rem;
    }
  }
}

section + section {
  padding-block-start: var(--space-32);
}

.section--overlap {
  background: linear-gradient(
    to bottom,
    transparent var(--space-3xl),
    var(--am-blue-deep) 0
  );
}

.section--header {
  padding-bottom: 0;
}

.section--post-content {
  padding-block: 0;
}

.section--header + .section {
  margin-top: var(--space-l);
  padding-top: 0;
}

.section__heading {
  margin-bottom: var(--space-s-l);
}

.section__subheading {
  font-size: var(--h3);
  font-family: var(--bold);
  max-width: 40ch;
}
