@import "./normalize.css";
@import "./webflow.css";
@import "./ada-mode-website.webflow.css";

@import "./base/_reset.css";
@import "./base/variables.css";
@import "./base/mixins.css";
@import "./base/typography.css";

/* Utility classes*/
@import "./utilities/spacing.css";
@import "./utilities/visibility.css";
@import "./utilities/flex-row.css";
@import "./utilities/content-col.css";
@import "./utilities/border-box.css";
@import "./utilities/flex-grid.css";
@import "./utilities/post-tags.css";

/* Defines whole sections of a page */
@import "./sections/wrapper.css";
@import "./sections/header.css";
@import "./sections/main.css";
@import "./sections/footer.css";
@import "./sections/homepage-hero.css";
@import "./sections/article.css";
@import "./sections/section.css";
@import "./sections/text-page-header.css";
@import "./sections/post-head.css";
@import "./sections/cta-page.css";

/* Components */
@import "./components/buttons.css";
@import "./components/quote.css";
@import "./components/columns.css";
@import "./components/form.css";
@import "./components/person.css";
@import "./components/cta-section.css";
@import "./components/prod-feature.css";
@import "./components/stacked-tabs.css";
@import "./components/styled-ol.css";
@import "./components/comparison.css";
@import "./components/blog-feature.css";
@import "./components/index-post.css";
@import "./components/category-nav.css";
@import "./components/post-content.css";

@import "./sal.css";

@import "./components/cead.css";

.w-slider-dot {
  height: 6px;
  background: #6aaaf3;
}
.w-slider-dot.w-active {
  height: 6px;
  background: #1bc691;
}
.w-slider-nav.w-round > div {
  width: 6px;
  border-radius: 6px;
  margin: 15px;
}

.team-grid-content img {
  filter: grayscale(100%);
  height: auto;
  aspect-ratio: 1;
  border-radius: 8px;
}

.case-study-grid .paragraph.w-richtext {
  min-height: 15rem;
}

.case-study-image-div img {
  max-width: 100%;
  width: 100%;
  height: auto%;
}

.w-layout-grid._2-3rd-grid:nth-child(even) > .w-dyn-list {
  grid-column: 3;
}
.w-layout-grid._2-3rd-grid:nth-child(even) > .div-block {
  grid-column: 1/3 !important;
  grid-row: 1 !important;
}

.collection-list-3 {
  grid-column-gap: 35px;
  grid-row-gap: 16px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 275px), 1fr));
  grid-template-rows: auto;
  /* flex-wrap: wrap; */
  overflow-x: visible;
}

a.blog-post-image-link-block.w-inline-block img,
.blog-post-image-div img {
  object-fit: cover;
  height: 300px;
}

ul.blog-post-page-collection-list li.collection-list-item[data-hidden] {
  display: none;
}

a.case-study-image-div.w-inline-block img,
.case-study-image-thumbnaili img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.case-study-image-thumbnaili {
  overflow: hidden;
  background-color: #ebebeb;
}

.w-layout-grid.team-grid-content img {
  object-fit: cover;
}

.div-block-68 img {
  object-fit: cover;
  max-height: 700px;
}

.case-study-cta-image-div img {
  object-fit: cover;
  height: 80vh;
  aspect-ration: 1;
}

.blog-post-feature-image img {
  height: 500px;
  object-fit: cover;
}

.div-block-36 {
  background: none;
}

.div-block-36 img {
  object-fit: cover;
  height: 100%;
  aspect-ratio: 1.34;
  /* width: 100%; */
}

.industries-icon-div {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

.div-block-77 img {
  max-width: 120px;
}

.slide.w-slide {
  transition: opacity 0.2s ease-out;
}

.slide.w-slide[aria-hidden] img {
  opacity: 0;
}

.slide.w-slide img {
  height: auto;
  opacity: 1;
  transition: opacity 2s ease-out;
  margin-inline: auto;
}

._40-pad-div-block img {
  display: inline-block;
  max-width: 50%;
  margin-bottom: 0px;
  height: auto;
}

._40-pad-div-block h3 {
  font-weight: 600;
}

.section.blue h3 {
  color: #fff;
}

.overlap-section.blue {
  max-height: none;
}

.atlas-features-icon img {
  height: 50px;
  margin-bottom: 20px;
}

.media.full,
.media.full lite-youtube {
  width: 100%;
  height: 100%;
}

.faq-content,
.faq-wrapper .plus-icon {
  transition: all 0.2s;
}

.text-section-header + .overlap-section {
  margin-top: 12rem;
}

.overlap-section {
  max-height: initial;
}

.blog-post-image-div {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 5px;
  display: block;
  margin-bottom: 40px;
  max-height: 350px;
  min-height: 300px;
}

.text-page-header {
  max-width: 75%;
}

.section.hero {
  padding-top: 70px;
}

@media screen and (max-width: 479px) {
  .case-study-cta-image-div img {
    height: 100%;
    max-height: 30vh;
  }

  ._2-3rd-grid {
    display: block;
  }
}

@media screen and (max-width: 756px) {
  .text-page-header {
    max-width: 100%;
  }

  .section.hero,
  .section.hero._2 {
    padding-top: 25px;
  }
}

.flow.text-content h2 + p {
  --flow-space: 2rem;
}

.verticle-green-line {
  height: 85%;
}

.team-grid {
  grid-template-areas: none;
}

.section + .text-section-header {
  padding-top: 0;
}

.section.wf-section .flex-row {
  margin-block-start: 0;
}

.section.wf-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
