{% unless title %}
  {% assign title = 'Ada Mode' %}
{% endunless %}
{% unless description %}
  {% assign description = 'Ada Mode build human-in-the-loop AI for
    machine health and industrial process optimisation. Making industrial plants
    greener, safer and more efficient.' %}
{% endunless %}

<!doctype html>
<html data-wf-page="60ab68115056b0010e0b77f1" data-wf-site="60ab68115056b0b8490b77f0">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta content="{{ description }}" name="description" />
    <meta content="{{ title }}" property="og:title" />
    <meta content="{{ description }}" property="og:description" />
    <meta content="https://uploads-ssl.webflow.com/60ab68115056b0b8490b77f0/60e45a12e319e542e1160c8e_homepage-open-graph2.jpg" property="og:image" />
    <meta content="{{ title }}" property="twitter:title" />
    <meta content="{{ description }}" property="twitter:description" />
    <meta content="https://uploads-ssl.webflow.com/60ab68115056b0b8490b77f0/60e45a12e319e542e1160c8e_homepage-open-graph2.jpg" property="twitter:image" />
    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="V6TUeT-oIMf2aKTFP3z7FUbeDW-eCmdofOWlS5bOlXA" name="google-site-verification" />
    <link
      href="/_includes/assets/css/index.css"
      rel="stylesheet"
      type="text/css" />

    <link
      href="/images/favicon.png"
      rel="shortcut icon"
      type="image/x-icon" />
    <link href="/images/webclip.png" rel="apple-touch-icon" />

    {% if eleventy.serverless.path %}
      <link rel="stylesheet" href="/assets/build/index.css" />
    {% endif %}

    {% analyticsScript %}
  </head>
  <body class="body no-js">
    <script>
      document.body.classList.remove('no-js')
    </script>
    {% include 'partials/nav.html' %} {{ content }} {% include 'partials/footer.html' %}

    {% if eleventy.serverless.path %}
      <script src="/assets/js/index.js" defer type="module"></script>
    {% else %}
      <script src="/_includes/assets/js/index.js" defer type="module"></script>
    {% endif %}

    <noscript>
      <style type="text/css">
        [data-sal|='fade'] {
          opacity: 1;
        }

        [data-sal|='slide'],
        [data-sal|='zoom'] {
          opacity: 1;
          transform: none;
        }

        [data-sal|='flip'] {
          transform: none;
        }
      </style>
    </noscript>
  </body>
</html>