---
layout: base.html
title: Ada Mode Blog
description: Read our latest views on industry, technology and everything else here.
# TODO: Take make blog list with better symantic html, and remove background images for posts
# TODO: Use filtering from the Windscope site instead of Webflow's implementation
---

  <div class="section hero _80vh wf-section">
    <div class="large-container w-container">
      <div data-w-id="6fb4f742-e765-093c-0bd3-be1c3a12b67a" class="hero-content-div-block">
        <div class="_40-pad-div-block">
          <h1 class="heading-1"><strong>Expert insights into AI, ML and Digital Twin technology for industry</strong></h1>
        </div>
        <h2 class="heading-5">Subscribe to our mailing list for regular updates on AI, ML and digital twin technology here</h2>
      </div>
    </div>
  </div>
  <div class="section no-top-padding no-bottom-padding wf-section">
    <div class="_90vw-container w-container">
      <div class="filter-wrapper mobile">
        <a filter-by="*" href="#" class="filter-button w-inline-block">
          <div filter-by="Machine Learning" class="filter-by-text">All posts</div>
        </a>
        {% for category in allPosts.categories %}
          <a filter-by="{{category}}" href="#" class="filter-button w-inline-block">
            <div filter-by="{{ category }}" class="filter-by-text">{{ category }}</div>
          </a>
        {% endfor %}
      </div>
      <div class="w-layout-grid blog-post-page-grid">
        <div id="w-node-e272b7f5-b09a-5866-b965-eaf02a097450-1c9d9963" class="collection-list-wrapper w-dyn-list">
          <div role="list" class="blog-post-page-collection-list">
            {% for post in allPosts.data %}
              {% capture imgUrl %}{% sanityImageUrl post.mainImage %}{% endcapture %}
              <div role="listitem" class="collection-list-item">
              <a href="/blog/{{post.slug.current}}" class="blog-post-image-link-block w-inline-block" style="background-image:url('{{ imgUrl }}')"></a>
              <div class="post-content-div">
                <div class="_20-pad-div-block _2">
                  <div>
                    {% assign category = post.categories | first %}
                    <div class="text-block-7">{{ category.title }}</div>
                  </div>
                  <div class="div-block-50">
                    <div class="small-grey-sub-heading">|</div>
                  </div>
                  <div>
                    <div class="small-grey-sub-heading">{{ post.publishedAt | date: "%B %d, %Y" }}</div>
                  </div>
                </div>
                <a href="/blog/{{post.slug.current}}" class="_20-pad-div-block w-inline-block">
                  <h3 class="heading-4">{{ post.title }}</h3>
                </a>
                <div class="_40-pad-div-block">
                  <p>{{ post.blurb  }}</p>
                </div>
                <div class="div-block-143">
                  <a href="/blog/{{post.slug.current}}" class="green-outline-button w-button"><span>Learn more   →</span></a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div id="w-node-_4c17e45c-f258-9cc0-4e37-5935c99391c2-1c9d9963" class="post-filter-div-block">
          <div class="filter-wrapper">
            <a filter-by="*" href="#" class="filter-button w-inline-block">
          <div filter-by="Machine Learning" class="filter-by-text">All posts</div>
        </a>
        {% for category in allPosts.categories %}
          <a filter-by="{{category}}" href="#" class="filter-button w-inline-block">
            <div filter-by="{{ category }}" class="filter-by-text">{{ category }}</div>
          </a>
        {% endfor %}
          </div>
          <div class="subscribe-to-newsletter-form w-form">
            <div class="_20-pad-div-block">
              <h4>Subscribe to our newsletter</h4>
            </div>
            <form id="email-form" name="email-form" data-name="Email Form" action="https://ada-mode.us7.list-manage.com/subscribe/post?u=128abe21f0d2b9c0ecad5eafc&amp;amp;id=12c95837b7" method="post"><input type="email" class="text-field-2 w-input" maxlength="256" name="email" data-name="Email" placeholder="" id="email" required=""><input type="submit" value="Submit" data-wait="Please wait..." class="green-button w-button"></form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="subscribe-div-mobile">
      <div class="subscribe-to-newsletter-form mobile w-form">
        <div class="_20-pad-div-block">
          <h4>Subscribe to our newsletter</h4>
        </div>
        <form id="email-form" name="email-form" data-name="Email Form" method="get"><input type="email" class="text-field-2 w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="" id="email-2" required=""><input type="submit" value="Submit" data-wait="Please wait..." class="green-button w-button"></form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://cdn.finsweet.com/files/cmslibrary-v1.8.js"></script>
  <script>
(function() {
var fsComponent = new FsLibrary('.blog-post-page-collection-list')
var myFilters = [
  {
    filterWrapper: '.filter-wrapper',
    filterType: 'exclusive'
  }
]
fsComponent.filter({
  filterArray: myFilters,
  activeClass: 'filter-active'	
})
})();
</script>
