---
layout: base.html
title: Case studies
description: Take a look at our case studies to learn how we help industrial facilities with AI adoption, digital twin strategy and provide analytical support for complex operational problems.
---

  <div class="section hero wf-section">
    <div class="large-container w-container">
      <div data-w-id="f95c4fb6-a1d7-ec14-13c5-c9f048509252" class="hero-content-div-block">
        <div class="_40-pad-div-block">
          <h1 class="heading-1">Client Projects and R&amp;D</h1>
        </div>
        <h2 class="heading-5">We help industrial facilities with AI adoption, digital twin strategy and provide analytical support for complex operational problems.</h2>
      </div>
    </div>
    <div class="xtra-large-container w-container">
      <div class="case-studies-collection-list-wrapper w-dyn-list">
        <div role="list" class="collection-list-5 w-dyn-items">
          {% for case in allCaseStudies %}
            <div role="listitem" class="collection-item-4 w-dyn-item">
            {% capture imgUrl %}{% sanityImageUrl case.mainImage %}{% endcapture %}
              <div class="case-study-image-thumbnaili" style="background-image:url('{{ imgUrl }}')"></div>
              <div class="case-study-content-div">
                <div class="_20-pad-div-block">
                  {% assign category = case.categories | first %}
                  <div class="text-block-13">{{ category.title }}</div>
                </div>
                <div class="_40-pad-div-block">
                  <h2 class="heading-4">{{ case.title }}</h2>
                </div>
                <div class="div-block-74">
                  <a href="/case-studies/{{case.slug.current}}" class="green-outline-button w-button"><span>View case study   →</span></a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>