---
layout: base.html
title: Industries
description: Energy | Waste | Utilities. Working with our clients to increase efficiency, reduce waste, reduce emissions and improve safety with AI
---



  <div class="section hero _2 wf-section">
    <div class="large-container w-container">
      <div data-w-id="d5117ad6-7e2e-19ba-8a97-2202304e21fd" class="hero-content-div-block">
        <div class="_40-pad-div-block">
          <h1 class="heading-1">Energy | Utilities | Manufacturing</h1>
        </div>
        <div class="hero-sub-heading-div">
          <h2 class="heading-5">Working with our clients to increase efficiency, reduce waste, reduce emissions and improve safety with AI</h2>
        </div>
      </div>
    </div>
    <div class="hero-image-relative">
      <div class="lower-hero-image _4"></div>
    </div>
  </div>
  <div class="section blue wf-section">
    <div class="container w-container">
      <div class="w-layout-grid industries-grid">
        <div data-w-id="9a2f93a2-5c93-33da-32fc-280672adf43f" class="w-layout-grid individual-industries-grid">
          <div id="w-node-c52fa014-7679-a4d0-382e-9ff7edfd086b-7047e698" class="industries-icon-div"><img src="/images/nuclear-icon.svg" loading="lazy" width="50" alt="Civil nuclear power icon"></div>
          <div  class="industries-heading-div">
            <h3 class="heading-3 white">Civil Nuclear Power</h3>
          </div>
          <p  class="paragraph white">Our technology is used to ensure nuclear power stations operate as safely and as efficiently as possible. We have developed advanced machine learning solutions to optimise reactor performance, reduce outage duration, reduce plant emissions, and predict and prevent adverse process faults.</p>
        </div>
        <div data-w-id="53ab1883-b325-bff4-81f6-952d2262933a" class="w-layout-grid individual-industries-grid">
          <div id="w-node-_53ab1883-b325-bff4-81f6-952d2262933b-7047e698" class="industries-icon-div"><img src="/images/wind-icon.svg" loading="lazy" width="50" alt="Wind power icon"></div>
          <div  class="industries-heading-div">
            <h3 class="heading-3 white">Wind</h3>
          </div>
          <p  class="paragraph white">We work with operators to monitor the health and performance of critical turbine components and rotating plant to minimise unplanned downtime and optimise offshore maintenance schedules. We specialise in unsupervised ML techniques for wide-scale fleet health monitoring. </p>
        </div>
        <div data-w-id="ba70883c-885f-7517-c256-6014ee2e7661" class="w-layout-grid individual-industries-grid">
          <div id="w-node-ba70883c-885f-7517-c256-6014ee2e7662-7047e698" class="industries-icon-div"><img src="/images/solar-icon.svg" loading="lazy" width="50" alt="Solar power icon"></div>
          <div  class="industries-heading-div">
            <h3 class="heading-3 white">Solar</h3>
          </div>
          <p  class="paragraph white">Solar PV operators look to us to get the most out of their plants and to prevent complex adverse events reducing output or increasing maintenance costs. We work across a variety of technologies in all phases of the power generation process and associated balance of plant systems.</p>
        </div>
        <div data-w-id="a5b59668-b751-2352-a8ce-d231e83a2bfa" class="w-layout-grid individual-industries-grid">
          <div id="w-node-a5b59668-b751-2352-a8ce-d231e83a2bfb-7047e698" class="industries-icon-div"><img src="/images/water-icon.svg" loading="lazy" width="60" alt="Water power icon" class="image-12"></div>
          <div  class="industries-heading-div">
            <h3 class="heading-3 white">Water</h3>
          </div>
          <p  class="paragraph white">In this highly regulated sector where downtime is unacceptable, we are able to effect rapid change with minimal impact on day-to-day operations.  Our sensor health technology is used to minimise sensor calibration burden and reduce the risk of adverse quality events.</p>
        </div>
        <div data-w-id="69a7ff83-0839-74fd-768e-bf140e9224c2" class="w-layout-grid individual-industries-grid">
          <div id="w-node-_69a7ff83-0839-74fd-768e-bf140e9224c3-7047e698" class="industries-icon-div"><img src="/images/Built-environment-icon.svg" loading="lazy" width="55" alt="Built Environment icon"></div>
          <div  class="industries-heading-div">
            <h3 class="heading-3 white">Built Environment</h3>
          </div>
          <p  class="paragraph white">We work with partners to develop digital twins of industrial buildings from construction through to commissioning and operation. We support development of the BIM process into fully fledged digital twins to optimise building energy consumption and guide decision making during construction.</p>
        </div>
        <div data-w-id="281c0e1c-cf66-b437-716b-d6a9f4755612" class="w-layout-grid individual-industries-grid">
          <div id="w-node-_281c0e1c-cf66-b437-716b-d6a9f4755613-7047e698" class="industries-icon-div"><img src="/images/manufacturing-icon.svg" loading="lazy" width="50" alt="Manufacturing icon"></div>
          <div  class="industries-heading-div">
            <h3 class="heading-3 white">Manufacturing</h3>
          </div>
          <p  class="paragraph white">Our advanced condition monitoring technology helps manufacturing facilities to boost OA and OEE and optimise maintenance regimes to reduce cost and waste. Our digital twins integrate with existing platforms to provide richer insight into plant performance.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section wf-section">
    <div class="large-container w-container">
      <div class="_100-pad-div-block">
        <h3 class="heading-3">Our work</h3>
      </div>
      {% include 'partials/caseStudiesBlock.liquid' %}
    </div>
  </div>