---
layout: base.html
title: Atlas Digital Twin Platform
description: An AI-powered platform for industrial digital twin implementation. Integrate powerful AI and engineering know-how with plant data to rapidly deploy industrial digital twins at scale.
---


  <div class="section reduced-bottom-padding wf-section">
    <div class="large-container w-container">
      <div class="div-block-77"><img src="/images/atlas-logo-02.svg" loading="lazy" width="120" alt="Atlas platform logo"></div>
      <div class="_40-pad-div-block ch">
        <h1 class="heading-2">AI-powered digital twins, custom built for your plant, driving:</h1>
        <div class="platform-benefit-loop-div-comp-small">
          <div data-w-id="473e6733-fa8c-984c-1945-b7d4a68063d2" class="w-layout-grid benefit-loop-grid">
            <div>
              <h1 class="heading-2 green">increased availability</h1>
            </div>
            <div>
              <h1 class="heading-2 green">lower carbon emissions</h1>
            </div>
            <div>
              <h1 class="heading-2 green">increased output</h1>
            </div>
          </div>
        </div>
        <div class="platform-benefit-loop-div-device">
          <div data-w-id="5095e18b-3824-4e6c-710b-f3fdb53cd538" class="w-layout-grid benefit-loop-grid">
            <div>
              <h1 class="heading-2 green">increased availability</h1>
            </div>
            <div>
              <h1 class="heading-2 green">lower carbon emissions</h1>
            </div>
            <div>
              <h1 class="heading-2 green">increased output</h1>
            </div>
          </div>
        </div>
        <div class="platform-benefit-loop-div-mobile">
          <div data-w-id="5f8f06dc-ad6f-8917-dba7-c3d3b9557b53" class="w-layout-grid benefit-loop-grid">
            <div>
              <h1 class="heading-2 green">increased availability</h1>
            </div>
            <div>
              <h1 class="heading-2 green">lower carbon emissions</h1>
            </div>
            <div>
              <h1 class="heading-2 green">increased output</h1>
            </div>
          </div>
        </div>
        <div class="platform-benefit-loop-div-comp-large">
          <div data-w-id="16a7dffb-d50f-dc75-f6fb-c9349868ac5f" class="w-layout-grid benefit-loop-grid">
            <div>
              <h1 class="heading-2 green">increased availability</h1>
            </div>
            <div>
              <h1 class="heading-2 green">lower carbon emissions</h1>
            </div>
            <div>
              <h1 class="heading-2 green">increased output</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-sub-heading-div">
        <h2 class="heading-5">Get more from your plant data and deploy powerful AI to unlock a step change in industrial performance. </h2>
      </div>
    </div>
    <div class="large-container hide w-container">
      <div class="platform-hero-image-div"><img src="/images/platform-image-01.png" loading="lazy" srcset="/images/platform-image-01-p-500.png 500w, /images/platform-image-01-p-800.png 800w, /images/platform-image-01-p-1080.png 1080w, /images/platform-image-01.png 1446w" sizes="100vw" alt="Atlas platform example screenshot" class="image-13"></div>
    </div>
  </div>
  <div class="section no-padding wf-section">
    <div data-delay="4000" data-animation="slide" class="_w-slider product-page w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
      <div class="mask w-slider-mask">
        <div class="slide w-slide"><img src="/images/atlas-platform-01.png" loading="lazy" srcset="/images/atlas-platform-01-p-500.png 500w, /images/atlas-platform-01-p-800.png 800w, /images/atlas-platform-01-p-1080.png 1080w, /images/atlas-platform-01.png 1928w" sizes="(max-width: 479px) 96vw, (max-width: 767px) 88vw, (max-width: 991px) 91vw, (max-width: 1439px) 82vw, (max-width: 1919px) 86vw, (max-width: 2216px) 87vw, 1928px" alt="Atlas platform example screenshot" class="image-23"></div>
        <div class="slide w-slide"><img src="/images/atlas-platform-03.png" loading="lazy" srcset="/images/atlas-platform-03-p-500.png 500w, /images/atlas-platform-03-p-800.png 800w, /images/atlas-platform-03-p-1080.png 1080w, /images/atlas-platform-03-p-1600.png 1600w, /images/atlas-platform-03.png 1928w" sizes="(max-width: 479px) 96vw, (max-width: 767px) 88vw, (max-width: 991px) 91vw, (max-width: 1439px) 82vw, (max-width: 1919px) 86vw, (max-width: 2216px) 87vw, 1928px" alt="Atlas platform example screenshot"></div>
        <div class="slide w-slide"><img src="/images/atlas-platform-06.png" loading="lazy" srcset="/images/atlas-platform-06-p-500.png 500w, /images/atlas-platform-06-p-800.png 800w, /images/atlas-platform-06-p-1080.png 1080w, /images/atlas-platform-06-p-1600.png 1600w, /images/atlas-platform-06.png 1928w" sizes="(max-width: 479px) 96vw, (max-width: 767px) 88vw, (max-width: 991px) 91vw, (max-width: 1439px) 82vw, (max-width: 1919px) 86vw, (max-width: 2216px) 87vw, 1928px" alt="Atlas platform example screenshot"></div>
        <div class="slide w-slide"><img src="/images/atlas-platform-04.png" loading="lazy" srcset="/images/atlas-platform-04-p-500.png 500w, /images/atlas-platform-04-p-800.png 800w, /images/atlas-platform-04-p-1080.png 1080w, /images/atlas-platform-04-p-1600.png 1600w, /images/atlas-platform-04.png 1928w" sizes="(max-width: 479px) 96vw, (max-width: 767px) 88vw, (max-width: 991px) 91vw, (max-width: 1439px) 82vw, (max-width: 1919px) 86vw, (max-width: 2216px) 87vw, 1928px" alt="Atlas platform example screenshot"></div>
      </div>
      <div class="left-arrow-3 w-slider-arrow-left">
        <div class="icon-3 w-icon-slider-left"></div>
      </div>
      <div class="right-arrow-3 w-slider-arrow-right">
        <div class="icon-4 w-icon-slider-right"></div>
      </div>
      <div class="_w-slider-nav-w-round w-slider-nav w-slider-nav-invert w-round"></div>
    </div>
  </div>
  <div class="section blue wf-section">
    <div class="xtra-large-container w-container">
      <div class="w-layout-grid grid-21">
        <div id="w-node-_1ecab970-ddda-e104-d333-a27cd5acb0a6-2db407ac" class="div-block-126">
          <div class="_40-pad-div-block"><img src="/images/onboarding-deployment-icon.svg" loading="lazy" alt="Icon for Rapid onboarding and deployment" class="image-22"></div>
          <h3 class="heading-5 white">Combine <span class="text-span">modern AI, physics modelling and operator experience</span> to enable rapid deployment of powerful digital twin solutions at scale.</h3>
        </div>
        <div class="div-block-126">
          <div class="_40-pad-div-block"><img src="/images/secure-icon.svg" loading="lazy" alt="Icon for Secure Cloud computing" class="image-22"></div>
          <h3 class="heading-5 white"><span class="text-span-2">Secure cloud platform</span> for customer data integration, model development and digital twin deployment.</h3>
        </div>
        <div class="div-block-126">
          <div class="_40-pad-div-block"><img src="/images/human-in-the-loop-icon.svg" loading="lazy" alt="Icon for Scalable Architecture" class="image-22"></div>
          <h3 class="heading-5 white">Enables <span class="text-span-3">seamless integration</span> of custom, human-in-the-loop digital twins within existing digital architectures and technology stacks.</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="section extra-bottom-padding xtra wf-section">
    <div class="large-container w-container">
      <div class="w-layout-grid grid-72">
        <div id="w-node-ec55921d-3b71-75fb-d219-3f5fd6454cff-2db407ac" class="w-layout-grid grid-74">
          <div id="w-node-_7b3706d9-1d6f-4b76-5e4d-53247644e612-2db407ac">
            <h2 class="heading-3">Traditional, unoptimised performance</h2>
          </div>
          <div>
            <p class="paragraph-2">Operator monitors data through HMI and manually adjusts parameters based on experience and intuition</p>
          </div>
        </div>
        <div class="w-layout-grid grid-74">
          <div id="w-node-e5d8c65a-77aa-dd82-f44f-bfe786153293-2db407ac">
            <h2 class="heading-3">Optimised performance after introduction of AM Atlas</h2>
          </div>
          <div>
            <p class="paragraph-2">The AM Atlas powered digital twin learns what optimal conditions are and provides recommendations to operator</p>
          </div>
        </div>
        <div id="w-node-_9d002deb-4a3a-355c-d041-a118ec72b17d-2db407ac" class="div-block-128"><img src="/images/non-AM-platform-4.svg" loading="lazy" alt="Flow diagram showing traditional, unoptimised performance"></div>
        <div id="w-node-_9a6bff8a-2444-eb3a-e5c3-d58fa99bc952-2db407ac"><img src="/images/AM-platform-03.svg" loading="lazy" alt="Optimised performance after the introduction of Ada Mode&#x27;s Atlas platform flow graphic. "></div>
      </div>
    </div>
  </div>
  <div class="overlap-section blue wf-section">
    <div class="container-2 w-container">
      <div class="div-block-4">
        <div class="w-layout-grid grid-73">
          <div id="w-node-_3428f2ea-1c5e-8249-5ec8-6e09a713a7ba-2db407ac" class="_40-pad-div-block">
            <h2 class="heading-3">AM Atlas digital twin benefits</h2>
          </div>
          <div>
            <div class="w-layout-grid grid-75">
              <div><img src="/images/reduce.svg" loading="lazy" width="38" alt="Down arrow graphic
"></div>
              <div class="paragraph-2">Reduced maintenance costs</div>
            </div>
            <div class="w-layout-grid grid-75">
              <div><img src="/images/reduce.svg" loading="lazy" width="38" alt="Down arrow graphic
"></div>
              <div class="paragraph-2">Reduced emissions</div>
            </div>
            <div class="w-layout-grid grid-75">
              <div><img src="/images/reduce.svg" loading="lazy" width="38" alt="Down arrow graphic
"></div>
              <div class="paragraph-2">Reduced energy consumption</div>
            </div>
            <div class="w-layout-grid grid-75">
              <div><img src="/images/reduce.svg" loading="lazy" width="38" alt="Down arrow graphic
"></div>
              <div class="paragraph-2">Reduced waste and consumables</div>
            </div>
          </div>
          <div>
            <div class="w-layout-grid grid-75">
              <div><img src="/images/increase.svg" loading="lazy" width="38" alt="Up arrow graphic"></div>
              <div class="paragraph-2">Increase plant up-time</div>
            </div>
            <div class="w-layout-grid grid-75">
              <div><img src="/images/increase.svg" loading="lazy" width="38" alt="Up arrow graphic"></div>
              <div class="paragraph-2">Increase output</div>
            </div>
            <div class="w-layout-grid grid-75">
              <div><img src="/images/increase.svg" loading="lazy" width="38" alt="Up arrow graphic"></div>
              <div class="paragraph-2">Increase safety</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section wf-section">
    <div class="container w-container">
      <div class="_100-pad-div-block">
        <div class="div-block-77"><img src="/images/atlas-logo-02.svg" loading="lazy" width="120" alt="Atlas platform logo"></div>
        <h2 class="heading-2">Atlas features</h2>
      </div>
      <div class="w-layout-grid atlas-features-grids">
        <div class="w-layout-grid atlas-features-grids-2"><img src="/images/onboarding-deployment-icon.svg" loading="lazy" width="70" alt="Icon for Rapid onboarding and deployment" class="atlas-features-icons">
          <div class="features-title-div">
            <h3 class="heading-4">Rapid Onboarding and Deployment</h3>
          </div>
          <div class="features-content-div">
            <p class="paragraph">Developed to minimise the time from problem to solution without compromising on scale, analytical power, user experience or security.</p>
          </div>
        </div>
        <div data-w-id="bd8a0bf6-3e3b-e9c7-058f-64826147e0ec" class="w-layout-grid atlas-features-grids-2"><img src="/images/seamless-data-intergration-icon.svg" loading="lazy" width="70" style="opacity:0;-webkit-transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="Icon for Seamless data integration
" class="atlas-features-icons">
          <div style="opacity:0;-webkit-transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="features-title-div">
            <h3 class="heading-4">Seamless Data Integration</h3>
          </div>
          <div style="opacity:0;-webkit-transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="features-content-div">
            <p class="paragraph">Designed to accommodate a huge range of data sources for both live and batch processing. Data processing capability for time-series, unstructured text, numeric, graphical. GIS, video, audio and network data sets</p>
          </div>
        </div>
        <div data-w-id="f3d60b8e-9957-0faf-bf41-17833e7e1c12" class="w-layout-grid atlas-features-grids-2"><img src="/images/ML-model-icon.svg" loading="lazy" width="55" style="opacity:0;-webkit-transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="Icon for Powerful Machine Learning Model framework" class="atlas-features-icons">
          <div style="opacity:0;-webkit-transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="features-title-div">
            <h3 class="heading-4">Powerful ML Model Framework</h3>
          </div>
          <div style="opacity:0;-webkit-transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 75px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="features-content-div">
            <p class="paragraph">Cutting edge machine learning tools developed around complex industrial processes, systems and machinery.</p>
          </div>
        </div>
        <div class="w-layout-grid atlas-features-grids-2"><img src="/images/human-in-the-loop-icon.svg" loading="lazy" width="70" alt="Icon for Scalable Architecture" class="atlas-features-icons">
          <div class="features-title-div">
            <h3 class="heading-4">Human-in-the-loop Integration</h3>
          </div>
          <div class="features-content-div">
            <p class="paragraph">Ability to integrate critical domain expertise and operator experience with outputs tailored to the user to guide intervention.</p>
          </div>
        </div>
        <div class="w-layout-grid atlas-features-grids-2"><img src="/images/scalable-icon.svg" loading="lazy" width="70" alt="Icon for Scalable architecture" class="atlas-features-icons">
          <div class="features-title-div">
            <h3 class="heading-4">Scalable Architecture</h3>
          </div>
          <div class="features-content-div">
            <p class="paragraph">Models and digital twins can be applied across a plant, region or enterprise at speed</p>
          </div>
        </div>
        <div class="w-layout-grid atlas-features-grids-2"><img src="/images/secure-icon.svg" loading="lazy" width="50" alt="Icon for Secure Cloud computing" class="atlas-features-icons">
          <div class="features-title-div">
            <h3 class="heading-4">Secure Cloud Computing</h3>
          </div>
          <div class="features-content-div">
            <p class="paragraph">Atlas architecture is hosted on secure, carbon neutral AWS servers with the highest levels of security as standard.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section blue wf-section">
    <div class="container w-container">
      <div>
        <h2 class="heading-2 white">Under the bonnet</h2>
      </div>
    </div>
    <div class="container w-container">
      <div class="container-52"></div>
      <div class="w-layout-grid grid-54">
        <div class="hide"></div>
        <div id="w-node-fb50ddc8-a99f-56ab-a760-845ee0a39bcd-2db407ac" class="w-layout-grid faq-grid">
          <div id="w-node-fb50ddc8-a99f-56ab-a760-845ee0a39bce-2db407ac" class="faq-wrapper">
            <div data-w-id="fb50ddc8-a99f-56ab-a760-845ee0a39bcf" class="faq-question-wrap">
              <a href="#" class="faq-question-bar w-inline-block">
                <div class="question-title">Anomaly detection</div><img src="https://uploads-ssl.webflow.com/5f30fd5278e7e1bf6d6f311b/606f391793aed1d5d3c5e5ec_plus.svg" alt="" class="plus-icon">
              </a>
              <div style="height:0PX" class="faq-content">
                <p class="faq-paragraph">Unsupervised AI technology for the detection of anomalous plant behaviour through live processing of disparate datasets including image, audio emissions, text and time series data. Developed to be non invasive and to be used on systems with limited or no failure history, it enables controlled intervention prior to a failure event of shutdown.<br></p>
                <div class="div-block-78"></div>
              </div>
            </div>
            <div data-w-id="83f90fc1-6f46-dcfe-e471-665408020d15" class="faq-question-wrap">
              <a href="#" class="faq-question-bar w-inline-block">
                <div class="question-title"><strong>Predictive Modelling</strong><br></div><img src="https://uploads-ssl.webflow.com/5f30fd5278e7e1bf6d6f311b/606f391793aed1d5d3c5e5ec_plus.svg" alt="" class="plus-icon">
              </a>
              <div style="height:0PX" class="faq-content">
                <p class="faq-paragraph">Supervised machine learning technology for the prediction and prevention of adverse plant  conditions. Capable of multivariate analysis of diverse plant parameters for identification of associated factors enabling a more informed remedial design process. Incorporates trend detection and pattern matching technology for use on live data streams.<br></p>
                <div class="div-block-78"></div>
              </div>
            </div>
            <div data-w-id="e9b98413-7030-af80-d426-8bffdf55d02a" class="faq-question-wrap">
              <a href="#" class="faq-question-bar w-inline-block">
                <div class="question-title"><strong>ML Control</strong><br></div><img src="https://uploads-ssl.webflow.com/5f30fd5278e7e1bf6d6f311b/606f391793aed1d5d3c5e5ec_plus.svg" alt="" class="plus-icon">
              </a>
              <div style="height:0PX" class="faq-content">
                <p class="faq-paragraph">Technology to optimise a user defined output based on providing automatic recommendations to tune and change key process parameters. Used on complex process plants where multiple factors interact and where a detailed knowledge of plant systems is required. Increases output and enhances the human -machine interface experience. <br></p>
                <div class="div-block-78"></div>
              </div>
            </div>
            <div data-w-id="00d51fe2-eb5c-a987-858b-7270f55a78d3" class="faq-question-wrap">
              <a href="#" class="faq-question-bar w-inline-block">
                <div class="question-title"><strong>Time Series Data Exploration</strong><br></div><img src="https://uploads-ssl.webflow.com/5f30fd5278e7e1bf6d6f311b/606f391793aed1d5d3c5e5ec_plus.svg" alt="" class="plus-icon">
              </a>
              <div style="height:0PX" class="faq-content">
                <p class="faq-paragraph">A suite of tools used to support the day-to-day operation of industrial plant. Tools include trend detection, pattern matching, statistical analysis, forecasting and anomaly detection. Integrates with maintenance records and plant logs to provide contextual analysis. Enables users to interact with historic plant data to investigate current plant behaviour.<br></p>
                <div class="div-block-78"></div>
              </div>
            </div>
            <div data-w-id="76494eef-6454-dea9-2fbe-f2aabb5cdfa7" class="faq-question-wrap">
              <a href="#" class="faq-question-bar w-inline-block">
                <div class="question-title"><strong>Natural Language Processing</strong><br></div><img src="https://uploads-ssl.webflow.com/5f30fd5278e7e1bf6d6f311b/606f391793aed1d5d3c5e5ec_plus.svg" alt="" class="plus-icon">
              </a>
              <div style="height:0PX" class="faq-content">
                <p class="faq-paragraph">Not all industrial data is time-series or numeric. Our NLP technology is used to analyse unstructured text data found in plant logs, maintenance records and engineering reports enabling deeper contextual insight into plant performance. This technology is used frequently to optimise planned or preventative maintenance schedules based on mining historic inspection and overhaul data.<br></p>
                <div class="div-block-78"></div>
              </div>
            </div>
            <div data-w-id="1e4df523-00ee-efd8-293a-6df32b1fbc06" class="faq-question-wrap">
              <a href="#" class="faq-question-bar w-inline-block">
                <div class="question-title"><strong>Expert Systems</strong><br></div><img src="https://uploads-ssl.webflow.com/5f30fd5278e7e1bf6d6f311b/606f391793aed1d5d3c5e5ec_plus.svg" alt="" class="plus-icon">
              </a>
              <div style="height:0PX" class="faq-content">
                <p class="faq-paragraph">A framework for assessing system health and risk using a combination of AI and user defined criteria. This technology aggregates disparate plant data enabling operators to review plant performance in one place. Users are able to define health criteria such that when a breach occurs they can intervene in a controlled way. Operators can plan maintenance more effectively and monitor performance  more closely.<br></p>
                <div class="div-block-78"></div>
              </div>
            </div>
            <div data-w-id="804d01cb-3069-3ec2-bfe6-d28807f0e624" class="faq-question-wrap">
              <a href="#" class="faq-question-bar w-inline-block">
                <div class="question-title"><strong>Computer Vision</strong><br></div><img src="https://uploads-ssl.webflow.com/5f30fd5278e7e1bf6d6f311b/606f391793aed1d5d3c5e5ec_plus.svg" alt="" class="plus-icon">
              </a>
              <div style="height:0PX" class="faq-content">
                <p class="faq-paragraph">Neural network powered AI systems for image recognition. Deployable on static images, video, and even audio data to perform highly accurate, scalable and automated image / audio classification. Powerful applications in a range of fields, including quality assurance, remote inspection, condition monitoring and acoustic leak detection.<br></p>
                <div class="div-block-78"></div>
              </div>
            </div>
            <div data-w-id="789376a4-d4f6-e18f-b632-19b7dba91ca6" class="faq-question-wrap">
              <a href="#" class="faq-question-bar w-inline-block">
                <div class="question-title"><strong>Acoustic Signal Processing</strong><br></div><img src="https://uploads-ssl.webflow.com/5f30fd5278e7e1bf6d6f311b/606f391793aed1d5d3c5e5ec_plus.svg" alt="" class="plus-icon">
              </a>
              <div style="height:0PX" class="faq-content">
                <p class="faq-paragraph">An established toolbox of methods to clean, process, aggregate and analyse  audio data. Wrangle audio data into formats more suitable to the application of data science techniques and extract key insights hidden from human observers, listen in on key assets and detect faulty operational acoustics. <br></p>
                <div class="div-block-78"></div>
              </div>
            </div>
            <div data-w-id="77c27ad0-8666-66d6-76a1-613fb1da02c7" class="faq-question-wrap">
              <a href="#" class="faq-question-bar w-inline-block">
                <div class="question-title"><strong>ML Boosted Simulation</strong><br></div><img src="https://uploads-ssl.webflow.com/5f30fd5278e7e1bf6d6f311b/606f391793aed1d5d3c5e5ec_plus.svg" alt="" class="plus-icon">
              </a>
              <div style="height:0PX" class="faq-content">
                <p class="faq-paragraph">Application of data science techniques and optimisation algorithms to explore simulations, physical and computational models. Develop a lightweight ML surrogate model of the simulation and  use it to iterate through the design space in tandem with a multi-dimensional optimisation algorithm to finalise system or process design decisions.<br></p>
                <div class="div-block-78"></div>
              </div>
            </div>
            <div data-w-id="6fbbcf49-876b-f4db-d1f5-10d9b13a4c88" class="faq-question-wrap">
              <a href="#" class="faq-question-bar w-inline-block">
                <div class="question-title"><strong>Physics Models</strong><br></div><img src="https://uploads-ssl.webflow.com/5f30fd5278e7e1bf6d6f311b/606f391793aed1d5d3c5e5ec_plus.svg" alt="" class="plus-icon">
              </a>
              <div style="height:0PX" class="faq-content">
                <p class="faq-paragraph">Physical process models and simulations provide an additional baseline against which to compare target sensor readings. Alongside soft sensors, this approach can provide powerful insights into sensor health.<br></p>
                <div class="div-block-78"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section no-padding wf-section">
    <div class="w-layout-grid _2-collum-grid grey-smoke-bg">
      <div id="w-node-_8d29aeb5-e4ee-0623-cea5-f62f48d6ebeb-2db407ac" class="div-block-30">
        <div class="_60-pad-div-block">
          <h2 class="heading-3">Increase plant availability, reduce emissions and optimise planned downtime</h2>
        </div>
        <a href="contact-us.html" class="green-button w-button">Book a demo</a>
      </div>
      <div id="w-node-_73d3a544-0e30-83ca-d3b2-e215e160ef9b-2db407ac" class="video-div-block-2">
        <div style="padding-top:56.17021276595745%" class="w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FyQyuWElE7_8&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DyQyuWElE7_8&image=http%3A%2F%2Fi.ytimg.com%2Fvi%2FyQyuWElE7_8%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube" scrolling="no" title="YouTube embed" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="true"></iframe></div>
      </div>
    </div>
  </div>
  <div class="section wf-section">
    <div class="large-container w-container">
      <div class="_100-pad-div-block">
        <h3 class="heading-3">Our work</h3>
      </div>
      {% include 'partials/caseStudiesBlock.liquid' %}
    </div>
  </div>