@mixin button primary;

@mixin button secondary, transparent, transparent, var(--ws-grey) {
  border: 1px solid var(--ws-grey);
  &:hover,
  &:focus {
    border: 1px solid var(--ws-bright-blue);
    color: var(--ws-bright-blue);
  }
}

@mixin button tertiary, var(--ws-bright-blue), var(--ws-bright-blue-dark),
  var(--ws-white);
