.am-button {
  display: inline-flex;
  padding: 1em 2em;
  justify-content: center;
  text-decoration: none;
  border: 1px solid var(--color-am-green);
  border-radius: 0.4em;
  background-color: var(--color-am-green);
  color: var(--color-neutral-darkest);
  line-height: 1.4;
  font-size: 1rem;
  font-family: var(--regular);
  font-weight: 400;
  transition:
    background-color 150ms,
    border 150ms,
    color 150ms;
}

.am-button:hover,
.am-button:focus-visible {
  background-color: transparent;
  color: var(--color-am-green);
}

.am-button--sm {
  font-size: 0.9rem;
  padding: 0.75em 1.5em;
}

.am-button--green-outline {
  background: transparent;
  color: var(--color-am-green);
}

.am-button--black-outline {
  background: transparent;
  color: var(--color-neutral-darkest);
  border: 1px solid var(--color-neutral-darkest);
}

.am-button--green-outline-on-dark {
  background: transparent;
  color: var(--color-am-green);
  border: 1px solid var(--color-am-green);
}

.am-button--on-dark:hover,
.am-button--on-dark:focus-visible {
  background-color: var(--color-am-green-light);
  border: 1px solid var(--color-am-green-light);
  color: var(--color-am-teal);
}

.am-button--green-outline:hover,
.am-button--green-outline:focus-visible {
  background-color: var(--color-am-green);
  border: 1px solid var(--color-am-green);
  color: var(--color-neutral-darkest);
}
