.category-nav {
  scroll-margin-top: var(--space-32);
  font-size: 1rem;

  button {
    background: none;
    border: none;
    color: var(--ws-grey);
    width: auto;
    cursor: pointer;
    padding: 0.5em;

    &[data-active] {
      color: var(--ws-bright-green);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.category-nav p {
  padding-block: 0.5em;
  font-weight: 600;
  margin-bottom: var(--space-s);
}

.category-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-nav + section {
  margin-top: 0;
  padding-block-start: var(--space-64);
}

@media (min-width: 768px) {
  .category-nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
  }
}

@media (min-width: 992px) {
  .category-nav {
    display: flex;
  }

  .category-nav__list {
    flex-grow: 1;
  }

  .category-nav p {
    margin-right: var(--space-s);
  }
}
