select {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxNiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik04IDkuNTMzMjdMMCAxLjUzMzI3TDEuNDMzMzMgMC4wOTk5MzM2TDggNi42NjY2TDE0LjU2NjcgMC4wOTk5MzM2TDE2IDEuNTMzMjdMOCA5LjUzMzI3WiIgZmlsbD0iIzJBMzI0NSIvPg0KPC9zdmc+)
    no-repeat;
  background-position: right 1.25rem top 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

label {
  font-family: var(--bold);
  font-weight: 400;
  font-size: 1rem;
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  border: 1px solid var(--am-blue-dark);
  padding: 0.5em 0.75em;
  font-size: inherit;
  border-radius: 0.2rem;
}

input[type='submit'] {
  cursor: pointer;
}

.form__group + .form__group {
  margin-top: var(--space-s);
}

.form__submit {
  margin-top: var(--space-m);
}

.form {
  max-width: 40rem;
  margin-inline: auto;
}
