<div id="w-node-_8d29aeb5-e4ee-0623-cea5-f62f48d6ebeb-2db407ac" class="div-block-30">
        <div class="_60-pad-div-block">
          <h2 class="heading-3">{{ ctaTitle }}</h2>
        </div>
        <a href="{{ ctaLink.link }}" class="green-button w-button">{{ ctaLink.text }}</a>
      </div>