{% if caseStudyList %}
  {% assign cases = caseStudyList %}
{% else %}
  {% assign cases = allCaseStudies %}
{% endif %}

<ul role="list" class="collection__list">
  {% for case in cases limit:3 %}
    {% capture imgUrl %}{% sanityImageUrl case.mainImage %}{% endcapture %}
    <li
      class="collection__item collection__item--dark" data-sal="slide-up" data-sal-duration="600">
      <div class="collection__img-wrapper">{% image imgUrl , '' %}</div>
      <div class="collection__item-content">
        <p class="pretitle collection__pretitle">
          {% assign category = case.categories | first %}
          <span>{{ category.title }}</span>
        </p>
        <h4 class="collection__post-heading">
          <a href="/case-studies/{{ case.slug.current }}" class="collection__link">{{ case.title }}</a>
        </h4>
        <a href="/case-studies/{{ case.slug.current }}" aria-hidden class="collection__item-button am-button am-button--sm am-button--green-outline">Read more</a>
      </div>
    </li>
  {% endfor %}
<ul>