<div class="footer wf-section">
    <div class="footer-container w-container">
      <div class="w-layout-grid footer-grid">
        <div class="footer-cta-div-block">
          <div class="_40-pad-div-block">
            <h2 class="heading-3 white">Talk to us about how AI and digital twins can help your facility</h2>
          </div>
          <div class="div-block-8">
            <a href="contact-us.html" class="green-button w-button">Get in touch</a>
          </div>
        </div>
        <div id="w-node-e0f755e2-17b8-f125-9af7-ed6f932340ac-93234085" class="footer-socials-div-block">
          <a data-w-id="9f3be4d6-5f6f-06e1-84b7-58fce0655a7e" href="https://twitter.com/adamodeAI" target="_blank" class="social-link-block w-inline-block"><img src="/images/twitter-white.svg" loading="lazy" width="30" alt="Twitter icon in white"></a>
          <a href="https://www.linkedin.com/company/ada-mode/" target="_blank" class="social-link-block w-inline-block"><img src="/images/linkedin-white.svg" loading="lazy" width="30" alt="Linkedin Icon in white"></a>
        </div>
      </div>
      <div class="footer-green-line"></div>
      <div class="footer-nav-container-div">
        <div class="footer-nav-div-block">
          <a href="index.html" aria-current="page" class="footer-nav-link-block w-inline-block w--current">
            <div>Home</div>
          </a>
          <a href="platform.html" class="footer-nav-link-block w-inline-block">
            <div>Platform</div>
          </a>
          <a href="services.html" class="footer-nav-link-block w-inline-block">
            <div>Services</div>
          </a>
          <a href="industries.html" class="footer-nav-link-block w-inline-block">
            <div>Industries</div>
          </a>
          <a href="about-us.html" class="footer-nav-link-block w-inline-block">
            <div>About us</div>
          </a>
          <a href="case-studies.html" class="footer-nav-link-block w-inline-block">
            <div>Case studies</div>
          </a>
          <a href="careers.html" class="footer-nav-link-block w-inline-block">
            <div>Careers</div>
          </a>
          <a href="blog.html" class="footer-nav-link-block w-inline-block">
            <div>Blog</div>
          </a>
          <a href="contact-us.html" class="footer-nav-link-block w-inline-block">
            <div>Contact</div>
          </a>
        </div>
      </div>
      <div class="footer-green-line hide"></div>
      <div class="footer-sub-nav-container-div">
        <div id="w-node-e0f755e2-17b8-f125-9af7-ed6f932340b3-93234085" class="fine-print-nav-div-block">
          <div class="nav-fine-print-white">All content © 2021 Ada Mode</div>
        </div>
        <div class="fine-print-nav-div-block hide">
          <div class="nav-fine-print-white green">|</div>
        </div>
        <a href="/policies/privacy-policy" class="fine-print-nav-div-block w-inline-block">
          <div class="text-block-4">Privacy policy</div>
        </a>
        <a href="/policies/cookie-policy" class="fine-print-nav-div-block w-inline-block">
          <div class="text-block-4">Cookie policy</div>
        </a>
        <a href="/policies/other-policies" class="fine-print-nav-div-block w-inline-block">
          <div class="text-block-4">Other policies</div>
        </a>
        <a href="/policies/accreditation" class="fine-print-nav-div-block w-inline-block">
          <div class="text-block-4">Accreditation</div>
        </a>
        <a href="/sitemap.xml" class="fine-print-nav-div-block w-inline-block">
          <div class="text-block-4">Sitemap</div>
        </a>
      </div>
    </div>
  </div>