<footer class="footer section">
  <div class="container">
    <div class="footer__main">
      <h2 class="footer__heading">Talk to us about how AI and digital twins can help your facility</h2>
      <a href="/contact-us/" class="footer__button am-button">Get in touch</a>
      <div class="footer__social">
        <a data-w-id="9f3be4d6-5f6f-06e1-84b7-58fce0655a7e" href="https://twitter.com/adamodeAI" target="_blank" class="social-link-block w-inline-block"><img src="/images/twitter-white.svg" loading="lazy" width="30" alt="Twitter icon in white"></a>
        <a href="https://www.linkedin.com/company/ada-mode/" target="_blank" class="social-link-block w-inline-block"><img src="/images/linkedin-white.svg" loading="lazy" width="30" alt="Linkedin Icon in white"></a>
      </div>
    </div>
    <nav class="footer__nav">
      <ul class="footer__nav-list">
        <li>
          <a href="/" aria-current="page">Home</a>
        </li>
        <li>
          <a href="/platform/">Platform</a>
        </li>
        <li>
          <a href="/services/">Services</a>
        </li>
        <li>
          <a href="/industries/">Industries</a>
        </li>
        <li>
          <a href="/about-us/">About us</a>
        </li>
        <li>
          <a href="/case-studies/">Case studies</a>
        </li>
        <li>
          <a href="/careers/">Careers</a>
        </li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
        <li>
          <a href="/contact-us/">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="footer__sub-nav">
      <small>All content © {{ helpers.year }} Ada Mode</small>
      <ul class="footer__sub-nav-list">
        <li>
          <a href="/policies/privacy-policy">Privacy policy</a>
        </li>
        <li>
          <a href="/policies/cookie-policy">Cookie policy</a>
        </li>
        <li>
          <a href="/policies/other-policies">Other policies</a>
        </li>
        <li>
          <a href="/policies/accreditation">Accreditation</a>
        </li>
        <li>
          <a href="/sitemap.xml">Sitemap</a>
        </li>
      </ul>
    </div>
  </div>
</footer>