<div class="navbar" data-component="menu">
    <div class="nav-bar-container">
      <a href="/" aria-current="page" class="brand"><img src="/images/ada-mode-logo---dark-wire-horizontal-logo.svg" loading="lazy" width="150" alt="Ada Mode logo"></a>
      <button class="menu-button" data-menu-button="main">
        <div class="icon-2 w-icon-nav-menu"></div>
      </button>
      <nav role="navigation" class="nav-menu" data-menu-content hidden>
        
        {% for item in site.topMenu %}
          {% if item.page %}
          {% if item.altTitle %}
            {% assign pageMenuTitle = item.altTitle %}
          {% else %}
            {% assign pageMenuTitle = item.page.title %}
          {% endif %}
          <a href="/{{ item.page.slug.current }}/" class="nav-link w-nav-link" data-menu-link>{{ pageMenuTitle }}</a>
          {% else %}
          <div data-hover="false" data-delay="0" class="dropdown w-dropdown">
            <button class="nav-link w-nav-link nav-link--dropdown" data-dropdown-button="menu_{{ item.dropdownTitle }}">
              <div class="text-block-14">{{ item.dropdownTitle }}</div>
              <div class="icon w-icon-dropdown-toggle"></div>
            </button>
            <nav class="dropdown-list w-dropdown-list" data-menu-dropdown id="menu_{{ item.dropdownTitle }}">
              {% for child in item.children %}
              <a href="/{{ child.slug }}/" class="nav-dropdown-link">{{ child.title }}</a>
              {% endfor %}
            </nav>
          </div>
            {% endif %}
        {% endfor %}
        <div data-hover="false" data-delay="0" class="dropdown w-dropdown">
          <button class="nav-link w-nav-link nav-link--dropdown" data-dropdown-button="menu_about">
            <div class="text-block-14">About</div>
            <div class="icon w-icon-dropdown-toggle"></div>
          </button>
          <nav class="dropdown-list" data-menu-dropdown id="menu_about">
            <a href="/about-us/" class="nav-dropdown-link">About us</a>
            <a href="/case-studies/" class="nav-dropdown-link">Case studies</a>
            <a href="/careers/" class="nav-dropdown-link">Careers</a>
          </nav>
        </div>

        <a href="/blog/" class="nav-link w-nav-link">Blog</a>
        <a href="/contact-us/" class="nav-link w-nav-link">Contact</a>
      </nav>
    </div>
  </div>